input:invalid {
    border: 2px solid red;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

#dives {
    font-family: 'Courier New', monospace;
}

#diveImages > div::before {
    content: counter(dive-number);
    font-size: 40px;
    color: var(--background);
    background: var(--foreground);
    min-width: 50px;
    text-align: center;
    border-radius: 50%;
}

#diveImages > div {
    display: flex;
    align-items: center;
    height: 242px;
    max-width: 675px;
    counter-increment: dive-number;
    border-bottom: 1px solid black;
}

#diveImages > div:last-child {
    border: none;
}

#diveImages > div > img {
    min-width: 0;
    background: white;
    object-fit: scale-down;
    height: auto;
    max-height: 240px;
    margin: 0 auto;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #151515;
        --foreground: #ededed;
    }
}

.toast {
    visibility: hidden;
    background-color: #222;
    color: white;
    text-align: center;
    border-radius: 21px; /* Rounded corners */
    padding: 12px 18px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1; /* Transition from 1 opacity */
    transition: opacity 1s ease-out 0.25s; /* Transition for 1s after 0.25s, quickly at first */
}

.toast.show {
    visibility: visible;
    opacity: 0; /* Transition to 0 opacity */
}

.noTransition {
    /* Used with .offsetHeight to clear a currently running animation */
    transition: none !important;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
