input:invalid {
    border: 2px solid red;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

#dives {
    font-family: 'Courier New', monospace;
}

/* Counter before each dive */
#diveImages > div::before {
    content: counter(dive-number);
    font-size: 40px;
    color: white;
    background: #171717;
    min-width: 50px;
    text-align: center;
    border-radius: 50%;
    /* Show background when printing */
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#diveImages {
    max-width: max-content;
}

#diveImages > div {
    display: flex;
    height: 250px;
    align-items: center;
    counter-increment: dive-number;
    border-bottom: 1px solid black;
}

#diveImages > div:last-child {
    border: none;
}

#diveImages > div > img {
    max-height: calc(100% - 1px); /* So images don't clip over border when printing */
    min-width: 0; /* Images scale to fit */
    background: white;
    margin: 0 auto; /* Center horizontally within div */
}

.toast {
    visibility: hidden;
    background-color: #222;
    color: white;
    text-align: center;
    border-radius: 21px; /* Rounded corners */
    padding: 12px 18px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1; /* Transition from 1 opacity */
    transition: opacity 1s ease-out 0.25s; /* Transition for 1s after 0.25s, quickly at first */
}

.toast.show {
    visibility: visible;
    opacity: 0; /* Transition to 0 opacity */
}

/* Used with .offsetHeight to clear a currently running animation */
.noTransition {
    transition: none !important;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* Hide dive images when showImage checkbox is unchecked */
body:not(:has(input[id="showImage"]:checked)) #diveImages * {
    display: none;
}

@media (prefers-color-scheme: dark) {
    /* Override dark mode when checkbox is checked */
    body:not(:has(input[id="showImage"]:checked)) {
        --background: #151515;
        --foreground: #ededed;
    }
}

@media print {
    @page {
        margin: 0;
        width: 8.5in;
        height: 11in;
    }

    /* Don't show any of the body */
    body *:not(#diveImages) {
        display: none
    }

    /* Show dive images to print */
    #diveImages * {
        display: flex !important;
    }

    #diveImages {
        max-width: 100% !important;
    }

    #diveImages > div {
        height: calc(11in/4 - 3px) !important; /* 2 px base plus 1px for borders */
        page-break-inside: avoid; /* Just in-case CSS fails, don't allow breaking of the div */
    }

    #diveImages div:nth-child(4n) {
        page-break-after: always;
        border: none;
    }
}
